In [5]:
import pandas as pd
df = pd.DataFrame([1,2,3],columns=['foo'])
df

   foo
0    1
1    2
2    3

In [7]:
import pandas as pd
pd.DataFrame([('apple', 160), ('orange', 30), ('ki wi', 80), ('banana', 120)], columns=['name', 'price'])

     name  price
0   apple    160
1  orange     30
2   ki wi     80
3  banana    120

In [54]:
import pandas as pd
data = {
'fruit': ['Apple', 'Orange', 'Kiwi', 'Banana'], 'price': [160, 30, 80, 120],
'order': [12, 30, 8, 21]
}
df = pd.DataFrame(data)
df['total'] = df['order'] * df['price'] #列追加
df = pd.DataFrame(data, index=['Apple', 'Orange', 'Kiwi', 'Banana']) #index指定
df.ix["Apple"] # 行取得
df.shape # 行列の大きさ取得 #=>(4,3)
#type(df) #class 表示
#df.sample(2) # ランダムにデータをn件取得
df[df.price > 100] #条件絞り込み
df.where(df.price > 100).dropna() # 条件絞り込み+NaN除去
df.apply(lambda x: x.fruit.upper(), axis=1) #各行に関数適用

Apple      APPLE
Orange    ORANGE
Kiwi        KIWI
Banana    BANANA
dtype: object